<!DOCTYPE html>
<html>
<head>
  <title>Unofficial DCM schedule</title>
  <
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js' %>
  <%= csrf_meta_tags %>

  <meta property="og:title"  content="Unofficial DCM schedule" />
  <meta property="og:description" content="Unauthorized pirate version of the DCM schedule" />
  <meta property="og:image" content="https://www.dropbox.com/s/u8uurr5fiesppe0/Screenshot%202015-05-18%2018.33.13.png?dl=1"/>
</head>
<body>

<%= yield %>

</body>
</html>
