<!DOCTYPE html>
<html>
<head>
  <title>Unofficial DCM schedule</title>
  <
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js' %>
  <%= csrf_meta_tags %>

  <meta property="og:title"  content="Unofficial DCM schedule" />
  <meta property="og:description" content="Unauthorized pirate version of the DCM schedule" />
  <meta property="og:image" content="https://dl-web.dropbox.com/get/Screenshots/Screenshot%202015-05-18%2018.27.50.png?_subject_uid=10505724&w=AADNssU8IeIg6BN3O7wtahNRzNmZ-JKfAdGqhhkvtTUTNA"/>
</head>
<body>

<%= yield %>

</body>
</html>
